
body {
    background: #1f242d;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.1s * var(--i));
}
 
.navbar a:hover,
.navbar a.active {

    color: #0ef;
}

.text-about h1{
    font-size: 48px;
    font-weight: 600;
    color: white;
    position: absolute;
    left: 450px;
    top: 160px;
    animation: slideRight 1s ease forwards;
}

.text-about p{
    font-size: 36px;
    font-weight: 600;
    color: white;
    position: absolute;
    left: 450px;
    top: 240px;
    max-width: 800px;
    animation: slideLeft 1s ease forwards;

}

.text-about h3 {
    font-size: 18px;
    font-weight: 450;
    color: white;
    position: absolute;
    top: 470px;
    left: 95px;
    text-align: center;
    line-height: 1.5;
    animation: slideRight 1s ease forwards;
}

.text-about h2 {
    font-size: 18px;
    font-weight: 400;
    color: white;
    position: absolute;
    top: 400px;
    left: 450px;
    max-width: 718px;
    text-align: justify;
    line-height: 1.3;
    animation: slideTop 1s ease forwards;

}

.collection-content h1{
    font-family: Proxima Nova;
    font-size: 42px;
    font-weight: 600;
    color: white;
    position: absolute;
    left: 150px;
    top: 120px;
    animation: slideRight 1s ease forwards;
}

.collection-content h2{
    font-family: Museo Slab;
    font-size: 26px;
    font-weight: 600;
    color: white;
    position: absolute;
    left: 150px;
    top: 180px;
    animation: slideRight 1s ease forwards;
}

.collection-content h3{
    font-family: Proxima Nova;
    font-size: 56px;
    font-weight: 600;
    color: white;
    position: absolute;
    left: 150px;
    top: 350px;
    animation: slideRight 1s ease forwards;
}

.rounded-button {
    font-family: FF Kava;
    position: absolute;
    top: 470px;
    left: 150px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
    animation: slideRight 1s ease forwards;
}

.rounded-button:hover {
    background-color: #2980b9;
}

.rounded-button img {
    vertical-align: middle;
    margin-right: 10px;
    width: 20px; /* Укажите желаемую ширину изображения */
    height: auto;
}

/* ANIMATIONS */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;

    }

    100% {
        transform: translateX(0);
        opacity: 1;
        
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;

    }

    100% {
        transform: translateY(0);
        opacity: 1;
        
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;

    }

    100% {
        transform: translateY(0);
        opacity: 1;
        
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;

    }

    100% {
        transform: translateX(0);
        opacity: 1;
        
    }
}