{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Skills</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'main/css/skills.css'%}">
        <script src="https://kit.fontawesome.com/f202acdc32.js" crossorigin="anonymous"></script>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        
    </head>
    <body>
        <header class="header">
            <a href="#" class="logo">Skills.</a>
            <nav class="navbar">
                <a href="http://127.0.0.1:8000" style="--i:1;">Home</a>
                <a href="http://127.0.0.1:8000/about" style="--i:2;">About</a>
                <a href="http://127.0.0.1:8000/skills" style="--i:3;" class="active">Skills</a>
                <a href="http://127.0.0.1:8000/works" style="--i:4;">Works</a>
                <a href="http://127.0.0.1:8000/contacts" style="--i:5;">Contacts</a>
            </nav>
        </header>

        <section>

            <div class="softskills">
                <h2>
                    Soft Skills
                </h2>
            </div>


            <div class="hardskills">
                <h2>
                    Hard Skills
                </h2>
            </div>

            <div class="clearcode">
                <h2>
                    Clear Code
                </h2>
            </div>

            <div class="comm">
                <h2>
                    Communicative
                </h2>
            </div>

            <div class="OOP">
                <h2>
                    OOP Patterns
                </h2>
            </div>

            <div class="perseverance">
                <h2>
                    Perseverance
                </h2>
            </div>

            <div class="frameworks">
                <h2>
                    Frameworks
                </h2>
            </div>

            <div class="django">
                <h2>
                    Django
                </h2>
            </div>

            <div class="pyqt">
                <h2>
                    PyQt
                </h2>
            </div>

            <div class="aiogram">
                <h2>
                    Aiogram
                </h2>
            </div>

            <div class="independence">
                <h2>
                    Independence
                </h2>
            </div>

            <div class="development">
                <h2>
                    Continuous development
                </h2>
            </div>

            <div class="linehard"></div>
            <div class="linehard1"></div>
            <div class="linehard2"></div>
            <div class="linehard3"></div>
            <div class="linehard4"></div>

            <div class="linesoft"></div>
            <div class="linesoft1"></div>
            <div class="linesoft2"></div>
            <div class="linesoft3"></div>
            <div class="linesoft4"></div>
            <div class="linesoft5"></div>
        </section>

    </body>
</html>

